
/* Your CSS Code here. */
.container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	text-align:center;
}
.holder{
	flex-wrap:wrap;
}
.item1,.item2,.item3{
	width:100px;
	height:100px;
}
.item1{
	background:green;
	font-size:50px;
}
.item2{
	background:red;
	font-size:50px;
}
.item3{
	background:blue;
	font-size:50px;
}